body{
background: hsl(212, 45%, 89%)
}
.card{
height:310px;
  width:210px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px
}
.im{
  width : 200px;
  height: 180px;
  padding: 4px;
  border-radius: 12px;
  
 
}
.title{
  font-size: 18px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color:hsl(218, 44%, 22%)
}
.text{
  font-size: 13px;
  text-align: center;
  color:hsl(220, 15%, 55%);
    padding: 10px
}

